<h1 id="tableLabel">Students</h1>

<p *ngIf="!students"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="students">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Major</th>
      <th>Average Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.major }}</td>
      <td [ngClass]="{
        'high-grade': student.averageGrade >= 80,
        'medium-grade': student.averageGrade >= 50 && student.averageGrade < 80,
        'low-grade': student.averageGrade < 50
      }">{{ student.averageGrade }}</td>
    </tr>
  </tbody>
  <a [routerLink]="['/add']">Add</a>
</table>